---

---

<section class="box-border m-0 p-0 font-josefin ">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

  <!--titulo -->
  <div class="m-4 text-center mb-8">
    <h2 class="text-5xl font-extrabold">Habitaciones</h2>
  </div>
  <!--aqui empieza carousel -->
  <div class=" container swiper myswiper  ">
    <div class="swiper-wrapper ">
      <!--simple -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>SIMPLE</h3>
        </div>
        <img src="/habitaciones/simple.jpg"/>
        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Simple" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--doble -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>DOBLE</h3>
        </div>
        <img src="/habitaciones/doble.jpg" />
        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Doble" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--trile -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>TRIPLE</h3>
        </div>
        <img src="/habitaciones/triple.jpg" />
        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Triple" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--cuadruple -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>CUADRUPLE</h3>
        </div>
        <img src="/habitaciones/cuadruple.jpg" />
        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Cuadruple" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--quintuple -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>QUINTUPLE</h3>
        </div>
        <img src="/habitaciones/quintuple.jpg" />
        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Quintuple" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--sextuple -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>SEXTUPLE</h3>
        </div>
        <img src="/habitaciones/sextuple.jpg" />

        <div  class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl  scale-0 transition">
            <a href="/habitacion/Sextuple" class="text-2xl font-bold font-josefin border-2 border-white p-3">Ver Detalles</a>
        </div>
      </div>

      <!--matrimonial -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>MATRIMONIAL</h3>
        </div>
        <img src="/habitaciones/matrimonial.jpg" />

        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Matrimonial"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!--departamento -->
      <div class="swiper-slide box relactive">
        <div class="swiper-txt">
          <h3>DEPARTAMENTO</h3>
        </div>
        <img src="/habitaciones/minidepa.jpg" />

        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Matrimonial"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>
    </div>

  </div>

      <!--scripts -->
      <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
      <script src="/src/components/Habitaciones/main.js"></script>

</section>

<style>

.swiper {
    margin-top: 30px;
   
    max-width: 1300px;
}

.swiper-slide{
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow:  0 30px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 350px;
    width: 500px;
    position: relative;
    
}

.swiper-slide img {
    width: 500px;
    border-radius: 15px;
    height: 350px;
}

.swiper-txt{
    position: absolute;
    padding: 25px;

}

.swiper-txt h3{
    font-size: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 2px 2px 1px black;

}

.box:hover .capa {
    transform: scale(1);
  }


  @media(max-width: 912px){
    .swiper{
        margin: 0 10px 20px;
    }

    .swiper-slide img{
        width: 100%;
    }
}

@media(max-width: 820px){
    .swiper{
        margin: 0 10px 20px;
    }

    .swiper-slide img{
        width: 100%;
    }
}


@media(max-width: 786px){
    .swiper{
        margin: 0 10px 20px;
    }

    .swiper-slide img{
        width: 100%;
    }
}





</style>
