---

---

<section class="">
  <div class="container w-full mx-auto">
    <div>
      <h1
        class="text-center pb-4 pt-4 font-extrabold xl:text-5xl md:text-3xl text-2xl"
      >
        Nuestros Servicios
      </h1>
    </div>
    <div
      class="box1 pt-6 mx-10 gap-6 grid xl:grid-cols-4 lg:grid-cols-3  grid-cols-3  pb-2"
    >
    <!--aqui empieza los servicios -->
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Excelente ubicación
        </h2>
        <img src="/iconos-servicios/location.png" class="size-20 m-3 mx-auto" />
      </div>
      
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Room Service
        </h2>
        <img src="/iconos-servicios/mozo.png" class="size-20 m-3 mx-auto" />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Recepción 24 hrs
        </h2>
        <img src="/iconos-servicios/24-hours.png" class="size-20 m-3 mx-auto" />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Pagos digitales
        </h2>
        <img
          src="/iconos-servicios/pagos-digitales.png"
          class="size-20 m-3 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Guarda equipaje
        </h2>
        <img
          src="/iconos-servicios/guarda-equipaje.png"
          class="size-20 m-3 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Servicio de despertador
        </h2>
        <img
          src="/iconos-servicios/alarm-clock.png"
          class="size-20 m-3 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          wifi
        </h2>
        <img src="/iconos-servicios/wifi.png" class="size-20 m-3 mx-auto" />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Desayuno
        </h2>
        <img
          src="/iconos-servicios/breakfast.png"
          class="size-20 m-3 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Restaurant
        </h2>
        <img
          src="/iconos-servicios/restaurant.png"
          class="size-20 xl:pb-1 pb-1 pt-1 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-lg pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Licoreria
        </h2>
        <img
          src="/iconos-servicios/licoreria.png"
          class="size-20 xl:pb-1 pb-2 pt-1 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-lg pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Piscina
        </h2>
        <img
          src="/iconos-servicios/piscina.png"
          class="size-20 xl:pb-1 pb-2 pt-1 mx-auto"
        />
      </div>
      <div class="box  bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Estacionamiento Interno
        </h2>
        <img
          src="/iconos-servicios/garage.png"
          class="size-20 xl:pb-1 pb-2 pt-1 mx-auto"
        />
      </div>
      <div class="box bg-[#e9ecef] relative shadow-md shadow-black">
        <h2
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-black/70 absolute text-center flex top-0 scale-0 transition"
        >
          Seguridad
        </h2>
        <img
          src="/iconos-servicios/seguridadcamaras.png"
          class="size-20 xl:pb-1 pb-2 pt-1 mx-auto"
        />
      </div>
    </div>
  </div>
</section>

<style>
  

  .box:hover .capa {
    transform: scale(1);
  }


     

</style>
