---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contactenos">
  <div class="box-border container-form">
    <div class="infor-form">
      <h4 class="p-3 text-2xl font-bold text-center xl:text-4xl md:text-3xl">
        Contactanos
      </h4>
      <p
        class="p-2 mx-8 text-lg font-semibold text-justify font-dancing xl:text-center md:text-center"
      >
        ¿Tienes alguna pregunta o necesitas ayuda con tu reserva? Nuestro equipo
        dedicado está disponible las 24 horas del día para brindarle un servicio
        rápido y amigable.
      </p>

      <div class="flex mt-5 ml-10 space-x-2">
        <img src="/llamar.png" class="size-10" />
        <p class="my-auto">953 678 592</p>
      </div>

      <div class="flex mt-5 ml-10 space-x-2">
        <img src="/correo.png" class="size-10" />
        <p class="my-auto">jfpintov@hotmail.com</p>
      </div>
    </div>

    <!--formulario -->

    <form
      action="https://formsubmit.co/arismartintj@gmail.com"
      method="POST"
      autocomplete="off"
      class="form"
    >
      <input
        type="text"
        name="name"
        id="name"
        placeholder="ingresa tus datos"
        class="campo"
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="ingresa tu correo electronico"
        class="campo"
      />
      <textarea name="mensaje" placeholder="escribe tu mensaje"></textarea>
      <input type="submit" value="Enviar " class="btn-enviar" />

      <input
        type="hidden"
        name="_next"
        value="http://localhost:4321/contacto"
      />

      <input type="hidden" name="_captcha" value="false" />
    </form>   
  </div>
   <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d891.7351882199786!2d-76.60228962698358!3d-12.76499389277683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTLCsDQ1JzU0LjUiUyA3NsKwMzYnMDguNSJX!5e1!3m2!1ses!2spe!4v1738964642154!5m2!1ses!2spe"
        loading="lazy"
        class="container mx-auto mb-1 h-96"></iframe>
    </div>
</Layout>

<style>
  .container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  .container-form form .campo,
  textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;

    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
  }

  .container-form form textarea {
    max-width: 550px;
    min-width: 550px;
    min-height: 140px;
    max-height: 150px;
  }

  .container-form form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    background: #31cec3;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .container-form .btn-enviar {
  }

  @media (max-width: 800px) {
    .container-form {
      grid-template-columns: repeat(1, 1fr);
      padding: 10px;
    }

    .container-form form {
      padding-top: 30px;
    }
  }
</style>
