---
import Layout from "../layouts/Layout.astro";
---

<Layout title="babitaciones">
  <div class="w-[100%] bg-[#f7f8f9] mb-9">
    <div class="w-full">
      <h4 class="text-center xl:text-4xl md:text-3xl text-2xl font-bold p-3">
        HABITACIONES
      </h4>
    </div>

    <div class="w.full bg-slate-400 space-y-2 mb-4">
      <h4
        class="text-center p-2 mx-3 font-sans text-white text-xl font-bold italic"
      >
        Nuestras habitaciones con baño privado con Tv Cable, amenities como
        botella de agua y wifi. En el baño diariamente toallas, jaboncillo y
        shampoo.
      </h4>

      <h4
        class="text-center p-2 mx-3 font-sans text-white text-xl font-bold italic"
      >
        Familia: Nuestra habitaciones pueden acomodar dos o tres adultos, un
        niños pequeño y un bebe.
      </h4>

      <h4
        class="text-center p-2 mx-3 font-sans text-white text-xl font-bold italic"
      >
        En la mañana desde las 7.00 am hasta 10.00 am puede disfrutar nuestro
        desayuno buffet con muchas opciones!
      </h4>
    </div>
    <!-- aqui empieza las habitaciones -->

    <div
      class="container w-full mx-auto grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10"
    >
      <!-- SIMPLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/simple.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] items-center rounded-2xl justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            SIMPLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">1 huesped</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Simple"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!-- DOBLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/doble.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] items-center rounded-2xl justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            DOBLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">2 huespedes</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Doble"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!--TRIPLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/triple.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] rounded-2xl items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            TRIPLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">3 huespedes</h3>
            </div>
          </div>
          <div
            class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
          >
            <a
              href="/habitacion/Triple"
              class="text-2xl font-bold font-josefin border-2 border-white p-3"
              >Ver Detalles</a
            >
          </div>
        </div>
      </div>

      <!--CUADRUPLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/cuadruple.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] rounded-2xl items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            CUADRUPLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">4 huespedes</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Cuadruple"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!--QUINTUPLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/quintuple.jpg')] bg-cover bg-center bg-no-repeat rounded-2xl h-[50vh] items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            QUINTUPLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">5 huespedes</h3>
            </div>
          </div>
          <div
            class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
          >
            <a
              href="/habitacion/Quintuple"
              class="text-2xl font-bold font-josefin border-2 border-white p-3"
              >Ver Detalles</a
            >
          </div>
        </div>
      </div>

      <!--SEXTUPLE-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/sextuple.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] rounded-2xl items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            SEXTUPLE
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">6 huespedes</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Sextuple"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!--MATRIMONIAL-->

      <div
        class="box border-4 relative border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/matrimonial.jpg')] bg-cover bg-center bg-no-repeat rounded-2xl h-[50vh] items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            MATRIMONIAL
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">2 huespedes</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Matrimonial"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>

      <!--DEPARTAMENTO-->

      <div
        class="box relative border-4 border-white shadow-lg shadow-black rounded-2xl"
      >
        <div
          class="fondo bg-[url('/habitaciones/minidepa.jpg')] bg-cover bg-center bg-no-repeat h-[50vh] rounded-2xl items-center justify-center"
        >
          <div class="titulo text-white text-center text-2xl py-64 font-bold">
            DEPARTAMENTO
            <div class="flex gap-5 items-center justify-center pt-3">
              <img
                src="/iconos-cuartos/huesped-icon1.png"
                class="icon size-8"
              />
              <h3 class="text-base py-auto">4 huespedes</h3>
            </div>
          </div>
        </div>
        <div
          class="capa w-full h-full text-white justify-center items-center font-bold text-xl pt-1 bg-[#af8252]/80 absolute text-center flex top-0 rounded-2xl scale-0 transition"
        >
          <a
            href="/habitacion/Minidepa"
            class="text-2xl font-bold font-josefin border-2 border-white p-3"
            >Ver Detalles</a
          >
        </div>
      </div>
      <!-- fin de columna-->
    </div>
  </div>
</Layout>

<style>
  .titulo {
    text-shadow: 2px 2px 1px black;
  }

  .box:hover .capa {
    transform: scale(1);
  }
</style>
