---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro/Intro.astro"
import Servicios from "../components/Servicios/Servicios.astro";
import Habitaciones from "../components/Habitaciones/Habitaciones.astro";
---

<Layout title="La Querencia Hotel">

	<main>
		<Intro/>
		<Servicios/>
		<Habitaciones/>
	</main>



</Layout>

<style></style>
