---

---

<footer class="foooter">
  
  <div
    class="w-full mt-2 bg-[#718c98] grid xl:grid-cols-3 md:grid-cols-3 grid-cols-1 "
  >
    <div class="p-4 m-2 mx-auto footer-content">
      <img src="/querenciahotellogo.png" class="w-40" />
    </div>

    <div
      class="items-center justify-center p-4 m-2 mx-auto space-y-2 text-white footer-content"
    >
      <div class="flex space-x-2">
        <img src="/llamar.png" class="size-10" />
        <h4 class="text-center xl:text-xl ">953 678 592</h4>
      </div>
      <div class="flex space-x-2 text-white">
        <img src="/correo.png" class="size-8" />
        <h4 class="text-xl text-center">jfpintov@hotmail.com</h4>
      </div>
      <div class="flex space-x-2">
        <img src="/ubicacion.png" class="size-9" />
        <h4 class="text-xl text-center">
          Panamericana sur km 97.5 lote 5A, Asia, Peru
        </h4>
      </div>
    </div>

    <div class="m-2 mx-auto text-white footer-content">
      <a href="/habitaciones">
        <h4 class="text-xl text-center">HABITACIONES</h4>
      </a>
     
      <a href="/contacto">
        <h4 class="text-xl text-center">CONTACTENOS</h4>
      </a>
   
    </div>
  </div>

  <div class="bg-[#718c98]">
    <h4 class="text-center text-white">
      DERECHOS RESERVADOS 2024 "LA QUERENCIA"
    </h4>
  </div>

</footer>

<style>
.foooter {

}
</style>